@include media-breakpoint-down(md) {
.hero-panel {
    .navbar {
        .nav-menu {
            > li.nav-menu-item {
                a {
                    text-align: right;
                }
            }
        }

        .navbar-collapse {
            &.show,
            &.collapsing {
                margin:0 -15px;
                padding: 0 15px;
                box-shadow: 0 2px 5px -5px rgba(0, 0, 0, .5);
            }
        }

        .navbar-collapse {
            &.show,
            &.collapsing {
                background: rgba(51, 51, 51, .6);
            }
        }

        &.fixed-top {
            .navbar-collapse {
                &.show,
                &.collapsing {
                    background: transparent;
                }
            }
        }
    }

    .hero-caption {
        position: static;
        width: 90%;
        margin: 0 auto;
        transform: none;
        margin-top: 2rem;
    }
}

}
