@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@400;700&family=Amatic+SC&family=Roboto:wght@300;400&display=swap');

// Variables
@import 'variables';

$body-bg: #000;
$header-link-color: #B39F79;
$white-contrast-color: #DBD9D7;
$enable-rounded: false;
$input-box-shadow: none;
$input-focus-box-shadow: none;
$input-btn-focus-box-shadow: none;
$input-border-focus: 0;
$input-btn-focus-color: 0;
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color !default;
$font-family-thin: 'Montserrat', sans-serif;
$font-family-bold: 'Oswald', sans-serif;
$font-family-cursive: 'Amatic SC', cursive;
$font-family-roboto: 'Roboto', sans-serif;

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    text-rendering: optimizeLegibility;
}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 88px;
}

body:not(.preloading) {
    position: relative;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 250;
    align-items: stretch;

    .navbar {
        align-items: stretch;
        padding-top: 1rem;
        padding-bottom: 0;
    }

    .logo-container {
        display: flex;
        align-items: center;
        padding: 1rem 0 0 3rem;

        .logo {
            flex-basis: 3.5rem;
            margin-right: 1rem;

            svg {
                width: 3.5rem;
                height: 3.5rem;
                fill: $header-link-color;
            }

            .srk-rectangle,
            .srk-propellers,
            .srk-drone-arch,
            .srk-label {
                stroke: $header-link-color;
                stroke-width: 10;
            }

            &:hover {
                .srk-rectangle,
                .srk-propellers,
                .srk-drone-arch,
                .srk-label {
                    stroke: #eee;
                }
            }
        }

        a {
            color: $header-link-color;
            transition: color .4s ease;

            &:hover {
                color: $white-contrast-color;
                text-decoration: none;
            }
        }

        h1 {
            font-family: $font-family-thin;
            font-weight: 300;
            font-size: 0.875rem;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            letter-spacing: 0.155rem;
            position: relative;

            em {
                position: absolute;
                font-size: 0;
            }
        }
    }

    .navbar-toggler {
        border-color: $white-contrast-color;
    }
}

.video-section {
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
    }

    &:after {
        content: '';
        position: absolute;
        top:0;
        left:0;
        bottom: 0;
        right: 0;
        background: rgba($color: #000000, $alpha: .35);
        pointer-events: none;
    }

    .content-box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 125;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h3 {
            font-family: $font-family-bold;
            font-weight: 700;
            font-size: 2.5rem;
            color: $white;
            text-transform: uppercase;
            -webkit-line-clamp: 2;
            letter-spacing: 0.525rem;
            margin-bottom: 2rem;
        }

        a.video-play {
            font-family: $font-family-cursive;
            font-size: 2rem;
            font-weight: normal;
            color: $white;
            text-decoration: none;
            transition: opacity .3s ease-out;

            &:hover {
                opacity: .7;
            }

            em {
                font-style: italic;
                text-decoration: underline;
            }
        }
    }
}

.nav-menu {
    display: flex;
    align-items: stretch;

    .nav-item {
        a.nav-link {
            display: flex;
            align-items: center;
            color: $white-contrast-color;
            transition: color .4s ease;
            text-transform: uppercase;
            font-family: $font-family-thin;
            font-weight: 300;
            font-size: 0.8125rem;
            letter-spacing: .125rem;
            height: 100%;
            padding-top: 0;
            padding-bottom: 0;

            &:hover, &.active {
                color: $header-link-color
            }
        }
    }
}

.gear-section {
    .gear-container {
        padding: 2.5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .title {
            font-family: $font-family-bold;
            font-size: 1.25rem;
        }

        .subtitle {
            font-family: $font-family-cursive;
            font-weight: normal;
            font-style: italic;
            max-width: 50%;
            text-align: center;
        }

        .icon {
            position: relative;
            margin: 93px 0px 36px 0;
            text-align: center;
            width: 165px;
            height: 95px;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}

.srk-footer {
    height: 4rem;
    p, a {
        color: $header-link-color;
        font-family: $font-family-thin;
        font-weight: 300;
        font-size: 0.75rem;
        margin-bottom: 0;
    }

    a {
        position: relative;
        color: $white-contrast-color;
        transition: color .3s linear;

        &:hover {
            color: $header-link-color;
        }
    }
}

.expand {
    position: relative;
    text-decoration: none;
    display: inline-block;

    &:after {
        content: '';
        display: block;
        border-bottom: 3px solid $white-contrast-color;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        transform-origin: 100% 50%;
    }

    &:hover {
        &:after {
            transform: scaleX(1);
            transform-origin: 0 50%;
        }
    }
}

.content-section {
    padding: 2.5rem 0;
    color: $white-contrast-color;

    &.bg-white {
        color: #333;
    }

    input, textarea {
        background: #000;
        border: 1px solid $white-contrast-color;
        color: $white-contrast-color;
        padding: 3px;
        padding-left: 21px;
        appearance: none;
        font-size: 0.875rem;

        &::placeholder {
            color: #898989;
        }

        &:hover, &:focus {
            border-width: 2px;
            padding: 2px;
            padding-left: 20px;
        }

        &:focus, &:active, &:visited {
            color: $white-contrast-color;
            background: #000;
            box-shadow: none !important;
            border-color: $white-contrast-color !important;
        }
    }

    textarea {
        resize: none;
    }

    .btn-primary {
        background: $header-link-color;
        color: $white-contrast-color;
        font-style: italic;
        border: none;
        font-size: 0.875rem;

        &:focus, &:active {
            background-color: #898989;
        }
    }
}

.contacts-section {

    h2, h3 {
        font-family: $font-family-thin;
        font-weight: 700;
        font-size: 1.5rem;
        margin: 0;
    }

    h3 {
        font-size: 1rem;
        font-weight: normal;
    }

    a {
        color: $white-contrast-color;
    }

    .contacts-data {
        a {
            font-family: $font-family-cursive;
            font-style: italic;
            font-size: 1.5rem;
        }

        .divider {
            border-right: 1px solid $white-contrast-color;
            margin: 0 1rem;
        }
    }

    .social-links {
        ul {
            list-style-type: none;
            padding: 0;
        }
    }
}

.about-section {
    h3 {
        font-family: $font-family-bold;
        font-weight: 700;
        letter-spacing: 0.125rem;
    }

    h4 {
        font-family: $font-family-thin;
        font-weight: 700;
    }

    .info {
        color: #87837E;
        font-size: 1.125rem;
        font-style: italic;
        font-family: $font-family-roboto;
        font-weight: 300;
        line-height: 1.5;
    }

    a.about-me {
        color: $white-contrast-color;
        font-size: 1.175rem;
        font-family: $font-family-thin;
        font-weight: bold;
        transition: color 0.3s linear;

        i {
            margin-left: .25rem;
        }

        &:hover {
            color: #87837E;
        }
    }
}

.srk-scroller {
    position: fixed;
    z-index: 500;
    bottom: 1rem;
    right: 1rem;
    transition: opacity .3s linear;
    opacity: 0;
    pointer-events: none;

    &.active {
        opacity: 1;
        pointer-events: auto;
    }

    .circle {
        background: $header-link-color;
        color: $white;

        .icon {
            transition: transform .15s ease-in;
        }

        &:hover {
            .icon {
                transform: translateY(-25%);
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .main-menu {
        .logo-container {
            padding-left: 1rem;
        }
    }
}

@include media-breakpoint-down(md) {
    .navbar-toggler {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        z-index: 100;

        .bars {
            position: relative;
            width: 20px;
            height: 3px;
            background: $white-contrast-color;
            transition: all .3s linear;

            &::before,
            &::after {
                content: '';
                width: 20px;
                height: 3px;
                background: $white-contrast-color;
                transition: all .3s linear;
                position: absolute;
                top: -6px;
                left: 0;
            }

            &::after {
                top: 6px;
            }
        }

        &:not(.collapsed) {
            .bars {
                background: transparent;

                &::before {
                    top:0;
                    transform: rotate(-45deg);
                }

                &::after {
                    top:0;
                    transform: rotate(45deg);
                }
            }
        }
    }

    .navbar-nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding-top: 82px;
        z-index: 50;
        background: rgba($color: #000000, $alpha: .6);

        li.nav-item {
            a.nav-link {
                display: block;
                text-align: right;
                padding-right: 1rem;
            }
        }
    }

    .gear-section {
        padding: 0;

        .gear-container {
            padding: 0;

            .icon {
                margin: 0;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .main-menu {
        .logo-container {
            padding-left: .5rem;
            .logo {
                margin-right: .5rem;
            }
            h1 {
                letter-spacing: 0.04rem;
            }
        }
    }
}
